body {
  margin: 0;
  padding: 0;
}
#main {
  margin: 0;
  padding: 0;
}
#main.a {
  margin: 0;
  padding: 0;
}
#main.a .b {
  margin: 0;
  padding: 0;
}
.c {
  display: none;
}
.d {
  margin: 0;
}
.d > .e {
  margin: 0;
}
div[role='document'] {
  margin: 0;
  padding: 0;
}
.e {
  clear: both;
}
.f,
.g,
.h {
  float: left;
}
.i {
  font-size: 2em;
}
.j {
  text-decoration: underline;
}
.k {
  min-height: 300px;
  visibility: hidden;
}
@media all and (max-width: 300px){
  .l {
    display: block;
    visibility: visible;
  }
  .k {
    min-height: 200px;
  }
}
